@model IEnumerable<ConfReg.Domain.Participants>

@{
    ViewBag.Title = "Index";
}

<h2>Dalyvių sąrašas</h2>

<p>
    @Html.ActionLink("Naujas dalyvis", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Laipsnis
        </th>
        <th>
            Vardas
        </th>
        <th>
            Pavardė
        </th>
        <th>
            Institucija
        </th>
        <th>
            El. Paštas
        </th>
        <th>
            Telefono numeris
        </th>
        <th>
            Pranešimo pavadinimas
        </th>
        <th>
            Pranešimo autoriai ir afiliacijos
        </th>
        <th>
            Pranešimo santrauka
        </th>
        <th>
            Kambario tipas
        </th>
        <th>
            Ar dalyvaus papildomuose renginiuose
        </th>
        <th>
            Ar reikalinga sąskaita - faktūra
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Degree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Institution)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnnName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnnAuthorsAndAff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnnSummary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceReq)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
